.branding {
  width:100%;
  height:667px;
  background-image:url('/images/main-bg.jpg');
  background-size:cover;
  background-repeat:no-repeat;

  .navbar, .navbar-default {
    background-color:transparent;
    border:none;

    .navbar-toggle {
      float:none;
      padding:15px 20px;
      border:none;

      .icon-bar {
        box-shadow:0 0 10px #333;
        background-color:white;
      }
    }

    .navbar-brand {
      float:right;
      padding:18px 20px;
      font-family:$secondaryFont;
      font-weight:bold;
      font-size:20px;
      color:white;
      letter-spacing:1px;
      text-shadow:0 0 10px #333;
    }
  }
}
