.branding {
  width:100%;
  height:667px;
  background-image:url('/images/main-bg.jpg');
  background-size:cover;
  background-repeat:no-repeat;

  .navbar, .navbar-default {
    background-color:transparent;
    border:none;

    .navbar-toggle {
      float:none;
      padding:15px 20px;
      border:none;

      .icon-bar {
        box-shadow:0 0 10px #333;
        background-color:white;
      }
    }

    .navbar-brand {
      float:right;
      padding:18px 20px;
      font-family:$secondaryFont;
      font-weight:bold;
      font-size:20px;
      color:white;
      letter-spacing:1px;
      text-shadow:0 0 10px #333;
    }
  }
}

@media only screen and (min-width:768px) {

  .branding {
    height:265px;
    background-image:url('/images/main-bg-large.jpg');
    background-size:contain;

    .navbar-header {
      float:none;

      .navbar-toggle {
        display:inline-block;
        padding:6px 15px;
      }
    }

    .navbar .navbar-brand, .navbar-default .navbar-brand {
      padding:12px 14px;
      font-size:16px;
    }

    .container-fluid > .navbar-collapse, .container-fluid > .navbar-header, .container > .navbar-collapse, .container > .navbar-header {
      margin-right:-15px;
      margin-left:-15px;
    }

    .navbar-collapse.collapse {
      display:none !important;
    }
  }
}

@media only screen and (min-width:1024px) {

  .branding {
    height:352px;

    .navbar-header {

      .navbar-toggle {
        padding:13px 20px;
      }
    }

    .navbar .navbar-brand, .navbar-default .navbar-brand {
      padding:17px 20px;
      font-size:20px;
    }
  }

  .registration-forms {

    h2 {
      margin-bottom:35px;
      font-size:40px;
    }

    ul {
      font-size:22px;
    }

    form {
      margin-top:25px;
    }

    h3 {
      font-size:34px;
      margin-bottom:15px;
    }

    p {
      font-size:18px;
      line-height:28px;
    }
  }
}
