body {
  font-family:$secondaryFont;
  letter-spacing:1px;

  // typography overrides
  h1 {
    font-family:$primaryFont;
    font-weight:bold;
    color:white;
  }
  h2, h3, h4, h5, h6 {
    font-family:$secondaryFont;
    font-weight:bold;
  }

  // form overrides
  .form-control {
    border-radius:0;
  }
  .btn-default {
    color:white;
    font-weight:bold;
    background: $primaryColor;
  }
  .btn {
    border:none;
    border-radius:0;
  }

  // alerts
  .bg-danger {
    margin-bottom:15px;
    padding:15px;
    font-family:$secondaryFont;
    font-weight:bold;
    color:black;
    background:yellow;
  }
}
