body {
  font-family: "Raleway", sans-serif;
  letter-spacing: 1px; }
  body h1 {
    font-family: "Berkshire Swash", cursive;
    font-weight: bold;
    color: white; }
  body h2, body h3, body h4, body h5, body h6 {
    font-family: "Raleway", sans-serif;
    font-weight: bold; }
  body .form-control {
    border-radius: 0; }
  body .btn-default {
    color: white;
    font-weight: bold;
    background: #1485cc; }
  body .btn {
    border: none;
    border-radius: 0; }

.blue-section, .grey-section, .black-section {
  padding: 20px; }
  .blue-section img, .grey-section img, .black-section img {
    padding: 15px 0; }

.blue-section {
  background: #1485cc; }

.grey-section {
  background: #333; }

.black-section {
  background: black; }

.performer {
  position: absolute;
  top: 50px;
  right: -65px; }
  .performer img {
    height: 500px; }

.branding {
  height: 550px;
  background-image: url("/images/star-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat; }
  .branding .logo {
    height: 125px;
    margin-top: 85px;
    padding: 22px;
    background-color: #1485cc; }
    .branding .logo img {
      width: 185px; }
  .branding .navbar, .branding .navbar-default {
    background-color: transparent;
    border: none; }
    .branding .navbar .navbar-toggle, .branding .navbar-default .navbar-toggle {
      float: none;
      padding: 15px 20px;
      border: none; }
      .branding .navbar .navbar-toggle .icon-bar, .branding .navbar-default .navbar-toggle .icon-bar {
        box-shadow: 0 0 10px #333;
        background-color: white; }
    .branding .navbar .navbar-brand, .branding .navbar-default .navbar-brand {
      float: right;
      padding: 18px 20px;
      font-family: "Raleway", sans-serif;
      font-weight: bold;
      font-size: 20px;
      color: white;
      letter-spacing: 1px;
      text-shadow: 0 0 10px #333; }

@media only screen and (min-width: 768px) {
  .performer {
    top: 10px;
    right: -10px; }
    .performer img {
      height: 389px; }

  .branding {
    height: 400px; }
    .branding .logo {
      height: 100px;
      margin-top: -20px;
      padding: 20px; }
      .branding .logo img {
        width: 150px; }
    .branding .navbar-header {
      float: none; }
      .branding .navbar-header .navbar-toggle {
        display: inline-block; }
    .branding .navbar .navbar-brand, .branding .navbar-default .navbar-brand {
      font-size: 16px; }
    .branding .container-fluid > .navbar-collapse, .branding .container-fluid > .navbar-header, .branding .container > .navbar-collapse, .branding .container > .navbar-header {
      margin-right: -15px;
      margin-left: -15px; }
    .branding .navbar-collapse.collapse {
      display: none !important; } }
@media only screen and (min-width: 1024px) {
  .branding .navbar-header .navbar-toggle {
    padding: 13px 20px; }
  .branding .navbar .navbar-brand, .branding .navbar-default .navbar-brand {
    padding: 17px 20px;
    font-size: 20px; }

  .registration-forms h2 {
    margin-bottom: 35px;
    font-size: 40px; }
  .registration-forms ul {
    font-size: 22px; }
  .registration-forms form {
    margin-top: 25px; }
  .registration-forms h3 {
    font-size: 34px;
    margin-bottom: 15px; }
  .registration-forms p {
    font-size: 18px;
    line-height: 28px; } }
.registration-forms {
  margin-top: -57px; }
  .registration-forms .nav-tabs {
    border: none; }
  .registration-forms .nav-tabs > li.active > a, .registration-forms .nav-tabs > li.active > a:focus, .registration-forms .nav-tabs > li.active > a:hover {
    color: #fff;
    letter-spacing: 1px;
    background-color: #000;
    border: none;
    opacity: 1; }
  .registration-forms .nav-tabs > li > a {
    font-weight: bold;
    font-size: 26px;
    border-radius: 0;
    color: #fff;
    background-color: #000;
    border: none;
    opacity: 0.5; }
  .registration-forms .tab-content {
    padding-top: 20px;
    color: white;
    background: black; }
    .registration-forms .tab-content .login-msg {
      text-align: center; }

/*# sourceMappingURL=main.css.map */
