<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head', {title: "Hosts"}) -%>
  <body>
    <main role="main">

      <%- include('../partials/header') -%>

      <section class="black-section">
        <div class="row">
          <div class="col-md-6">
            <div class="js-main-content"></div>
          </div>
        </div>
      </section>

    </main>

    <%- include('../partials/footer') -%>
    <script src="/js/hosts.js"></script>

  </body>
</html>
