<!DOCTYPE html>
<html lang="en">
  <% include ../partials/head %>
  <body>
    <main role="main">

      <%- include('../partials/header') -%>

      <section class="registration-forms">
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active">
            <a href="#singers" aria-controls="singers" role="tab" data-toggle="tab">
              SINGERS
            </a>
          </li>
          <li role="presentation">
            <a href="#hosts" aria-controls="hosts" role="tab" data-toggle="tab">
              HOSTS
            </a>
          </li>
        </ul>
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="singers">
            <div class="container-fluid">
              <div class="row black-section">
                <div class="col-sm-6 col-md-6 col-lg-6">
                  <img src="http://via.placeholder.com/450x400" class="img-responsive">
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6">
                  <h2>Register as a Singer</h2>
                  <ul>
                    <li>Search host's Song Banks</li>
                    <li>Create your own Song Lists</li>
                    <li>See Shows in your area</li>
                    <li>Request Songs from Hosts</li>
                  </ul>
                  <%- include('../partials/user_registration_form', {type: 'singer'}) -%>
                </div>
              </div>
              <div class="row blue-section">
                <h3>See Shows Near You</h3>
                <div class="row">
                  <div class="col-sm-6 col-md-6 col-lg-6">
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin a fringilla arcu. Sed sed sapien non sem laoreet porttitor ut vel metus. Vivamus eget metus neque. Quisque placerat nunc lobortis lacinia viverra. Praesent non maximus turpis, ac lobortis massa. Cras ullamcorper consequat feugiat. Nulla bibendum fermentum pretium. Nunc gravida lectus et velit pharetra pulvinar. Integer sit amet cursus nunc. Nulla luctus ultrices arcu, nec laoreet leo sagittis at. Morbi enim sapien, dictum nec magna quis, gravida luctus lorem.
                    </p>
                  </div>
                  <div class="col-sm-6 col-md-6 col-lg-6">
                    <img src="http://via.placeholder.com/450x300" class="img-responsive">
                  </div>
                </div>
              </div>
              <div class="row grey-section">
                <h3>Create Your Own Song Lists</h3>
                <div class="row">
                  <div class="col-sm-6 col-md-6 col-lg-6">
                    <img src="http://via.placeholder.com/450x300" class="img-responsive">
                  </div>
                  <div class="col-sm-6 col-md-6 col-lg-6">
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin a fringilla arcu. Sed sed sapien non sem laoreet porttitor ut vel metus. Vivamus eget metus neque. Quisque placerat nunc lobortis lacinia viverra. Praesent non maximus turpis, ac lobortis massa. Cras ullamcorper consequat feugiat. Nulla bibendum fermentum pretium. Nunc gravida lectus et velit pharetra pulvinar. Integer sit amet cursus nunc. Nulla luctus ultrices arcu, nec laoreet leo sagittis at. Morbi enim sapien, dictum nec magna quis, gravida luctus lorem.
                    </p>
                  </div>
                </div>
              </div>
              <div class="row black-section">
                <h3>Interact With Show Hosts</h3>
                <div class="row">
                  <div class="col-sm-6 col-md-6 col-lg-6">
                    <img src="http://via.placeholder.com/450x300" class="img-responsive">
                  </div>
                  <div class="col-sm-6 col-md-6 col-lg-6">
                    <img src="http://via.placeholder.com/450x300" class="img-responsive">
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6 col-md-6 col-lg-6">
                    <img src="http://via.placeholder.com/450x300" class="img-responsive">
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin a fringilla arcu. Sed sed sapien non sem laoreet porttitor ut vel metus. Vivamus eget metus neque. Quisque placerat nunc lobortis lacinia viverra. Praesent non maximus turpis, ac lobortis massa. Cras ullamcorper consequat feugiat. Nulla bibendum fermentum pretium. Nunc gravida lectus et velit pharetra pulvinar.
                    </p>
                  </div>
                  <div class="col-sm-6 col-md-6 col-lg-6">
                    <img src="http://via.placeholder.com/450x300" class="img-responsive">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="hosts">
            <div class="container-fluid">
              <div class="row black-section">
                <div class="col-sm-6 col-md-6 col-lg-6">
                  <img src="http://via.placeholder.com/450x400" class="img-responsive">
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6">
                  <h2>Register as a Host</h2>
                  <ul>
                    <li>Post your Shows online</li>
                    <li>Upload your Song Bank</li>
                    <li>Access to our Show Manager App</li>
                    <li>Create a Host Page on our site</li>
                  </ul>
                  <%- include('../partials/user_registration_form', {type: 'host'}) -%>
                </div>
              </div>
              <div class="row blue-section">
                <h3>Post Your Shows</h3>
                <div class="row">
                  <div class="col-sm-6 col-md-6 col-lg-6">
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin a fringilla arcu. Sed sed sapien non sem laoreet porttitor ut vel metus. Vivamus eget metus neque. Quisque placerat nunc lobortis lacinia viverra. Praesent non maximus turpis, ac lobortis massa. Cras ullamcorper consequat feugiat. Nulla bibendum fermentum pretium. Nunc gravida lectus et velit pharetra pulvinar. Integer sit amet cursus nunc. Nulla luctus ultrices arcu, nec laoreet leo sagittis at. Morbi enim sapien, dictum nec magna quis, gravida luctus lorem.
                    </p>
                  </div>
                  <div class="col-sm-6 col-md-6 col-lg-6">
                    <img src="http://via.placeholder.com/450x300" class="img-responsive">
                  </div>
                </div>
              </div>
              <div class="row grey-section">
                <h3>Upload Your Song Bank</h3>
                <div class="row">
                  <div class="col-sm-6 col-md-6 col-lg-6">
                    <img src="http://via.placeholder.com/450x300" class="img-responsive">
                  </div>
                  <div class="col-sm-6 col-md-6 col-lg-6">
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin a fringilla arcu. Sed sed sapien non sem laoreet porttitor ut vel metus. Vivamus eget metus neque. Quisque placerat nunc lobortis lacinia viverra. Praesent non maximus turpis, ac lobortis massa. Cras ullamcorper consequat feugiat. Nulla bibendum fermentum pretium. Nunc gravida lectus et velit pharetra pulvinar. Integer sit amet cursus nunc. Nulla luctus ultrices arcu, nec laoreet leo sagittis at. Morbi enim sapien, dictum nec magna quis, gravida luctus lorem.
                    </p>
                  </div>
                </div>
              </div>
              <div class="row black-section">
                <h3>Interact With Singers</h3>
                <div class="row">
                  <div class="col-sm-6 col-md-6 col-lg-6">
                    <img src="http://via.placeholder.com/450x300" class="img-responsive">
                  </div>
                  <div class="col-sm-6 col-md-6 col-lg-6">
                    <img src="http://via.placeholder.com/450x300" class="img-responsive">
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6 col-md-6 col-lg-6">
                    <img src="http://via.placeholder.com/450x300" class="img-responsive">
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin a fringilla arcu. Sed sed sapien non sem laoreet porttitor ut vel metus. Vivamus eget metus neque. Quisque placerat nunc lobortis lacinia viverra. Praesent non maximus turpis, ac lobortis massa. Cras ullamcorper consequat feugiat. Nulla bibendum fermentum pretium. Nunc gravida lectus et velit pharetra pulvinar.
                    </p>
                  </div>
                  <div class="col-sm-6 col-md-6 col-lg-6">
                    <img src="http://via.placeholder.com/450x300" class="img-responsive">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

    </main>

    <footer>
      <% include ../partials/footer %>
    </footer>

  </body>
</html>
