<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head', {title: "Singers"}) -%>
  <body>
    <main role="main">
      <%- include('../partials/header') -%>
      <div class="js-main-content"></div>
    </main>
    <%- include('../partials/footer') -%>
    <script src="/js/singers.js"></script>
    <script src="/js/songLists.js"></script>
  </body>
</html>
